<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fake Account Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
<header>
    <div class="logo">Fake Account Detector</div>
    <nav>
            <span>Logged in as {{ current_user.username }}</span>
            <a href="{{ url_for('feed') }}">Feed<br></a>
            <a href="{{ url_for('admin_dashboard') }}">Admin<br></a>
            <a href="{{ url_for('logout') }}">Logout<br></a>
            <a href="{{ url_for('login') }}">Login<br></a>
            <a href="{{ url_for('register') }}">Register</a>
    </nav>

</header>
<main>
</main>
</body>
</html>


